	<!--Website menu-->	

    <div id="nav">
        <ul class="listnav">        
            <li><%= link_to "Home", root_path %></li>        
            <li><%= link_to "Vision", vision_path %> </li>
            <li><%= link_to "Why", why_path %></li>
            <li><%= link_to "Team", team_path %> </li>
            <li><%= link_to "Products", products_path %> </li>
            <li><%= link_to "Services", services_path %> </li>
            <li><%= link_to "Careers", careers_path %> </li>
            <li><%= link_to "Investors", investors_path %> </li>
            <li><%= link_to "Blog", "http://professionalyou.wordpress.com" %> </li>
            <li><%= link_to "Index", index_path %> </li>  
            <li><%= mail_to "eric@professionalyou.net","Contact us" %></li>
        </ul>    
    </div>   <!--End Nav-->